body {

    min-height: 1200px;

}

.large_sep {

    margin-top: 8rem;

}

.small_sep {

    margin-top: 4rem;

}

.mini_sep {

    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

}
.large_sep_bottom {

    margin-bottom: 8rem;

}

.small_sep_bottom {

    margin-bottom: 4rem;

}

.bg-black {

    background-color: #000000;
}

.hero_bottom_style {

    margin-bottom: 0px;
}


.bg_workout_pink {


    background-color: #FF2D55 ;
}


.bg_workout_img {


background-image: url('../img/work_out_img.jpg') ;
background-size: cover;
height: 35rem;
width: 100%;
    
}
